exportPattern("^[[:alpha:]]+")
import(anticlust)
import(reshape2)
import(viridis)
import(ggplot2)
import(dplyr)
import(tidyverse)
import(Matrix)
importFrom("stats", "aggregate", "lm", "na.omit")
import(ComplexHeatmap)
